.loginsignup {
  width: 100%;
  min-height: 80vh;
  background: #fce3fe;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.loginsignup-container {
  width: 580px;
  background: white;
  padding: 40px 60px;
  box-sizing: border-box;
}

.loginsignup-container h1 {
  margin: 0 0 30px;
  font-size: 32px;
  font-weight: 600;
}

.loginsingup-fields {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.loginsingup-fields input {
  width: 100%;
  height: 55px;
  padding: 0 20px;
  box-sizing: border-box;
  border: 1px solid #c9c9c9;
  outline: none;
  font-size: 16px;
}

.loginsignup-container button {
  width: 100%;
  height: 55px;
  margin-top: 30px;
  border: none;
  background: #ff4141;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.loginsignup-login {
  margin-top: 30px;
  color: #555;
  font-size: 16px;

}


.loginsignup-agree {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}

.loginsignup-agree input {
  width: 18px;
  height: 18px;
}

.loginsignup-agree p {
  margin: 0;
  color: #555;
  font-size: 14px;
}
.loginsignup-login span{
  color: #ff4141;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 1024px) {
    .loginsignup {
        padding: 50px 20px;
    }

    .loginsignup-container {
        width: 520px;
        padding: 35px 45px;
    }
}

@media (max-width: 600px) {
    .loginsignup {
        min-height: 80vh;
        padding: 40px 15px;
    }

    .loginsignup-container {
        width: 100%;
        max-width: 450px;
        padding: 30px 25px;
    }

    .loginsignup-container h1 {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .loginsingup-fields {
        gap: 18px;
    }

    .loginsingup-fields input {
        height: 50px;
        padding: 0 15px;
        font-size: 14px;
    }

    .loginsignup-container button {
        height: 50px;
        margin-top: 25px;
        font-size: 16px;
    }

    .loginsignup-login {
        margin-top: 25px;
        font-size: 14px;
    }

    .loginsignup-agree {
        gap: 8px;
        margin-top: 20px;
    }

    .loginsignup-agree p {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .loginsignup {
        padding: 30px 10px;
    }

    .loginsignup-container {
        padding: 25px 18px;
    }

    .loginsignup-container h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .loginsingup-fields {
        gap: 15px;
    }

    .loginsingup-fields input {
        height: 47px;
        font-size: 13px;
    }

    .loginsignup-container button {
        height: 47px;
        margin-top: 20px;
        font-size: 15px;
    }

    .loginsignup-login {
        font-size: 13px;
    }

    .loginsignup-agree p {
        font-size: 11px;
    }

    .loginsignup-agree input {
        width: 16px;
        height: 16px;
    }
}